<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">
<head>
<title>注文一覧 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="admin order_list_admin">
		<h2 class="title">注文一覧</h2>
		<div th:if="${#lists.isEmpty(orders)}">
			<p th:text="#{orderListAdmin.none}"></p>
		</div>
		<div class="list" th:if="!${#lists.isEmpty(orders)}">
			<table class="list_table order">
				<tr>
					<th>会員氏名</th>
					<th>注文日時</th>
					<th>支払い方法</th>
					<th>合計金額</th>
				</tr>

				<tr th:each="order: ${orders}">
					<td>
						<a th:href="@{/order/detail/admin/{id}(id=${order.id})}" th:text="${order.userName}"></a>
					</td>
					<td th:text="${order.insertDate}"></td>
					<td th:switch="${order.payMethod}">
						<span th:case="1">クレジットカード</span>
						<span th:case="2">銀行振り込み</span>
						<span th:case="3">着払い</span>
						<span th:case="4">電子マネー</span>
						<span th:case="5">コンビニ決済</span></td>
					<td th:text="${order.total}"></td>
				</tr>
			</table>
		</div>
</body>
</html>