<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_3block :: layout(~{::title},~{::body/content()})}">
<head>
<title>管理者用メニュー | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="admin admin_menu">
		<dl class="admin_menu_list">
			<dt class="title_area_no_shadow">管理者用メニュー</dt>
			<dd class="link_area"><a th:href="@{/user/list}">会員一覧表示</a></dd>
			<th:block  th:if="${session.user.authority == 1}">
				<dd class="link_area"><a th:href="@{/order/list/admin}">注文一覧表示</a></dd>
				<dd class="link_area"><a th:href="@{/item/list/admin}">商品一覧表示</a></dd>
				<dd class="link_area"><a th:href="@{/category/list}">カテゴリ一覧表示</a></dd>
			</th:block>
		</dl>
</body>
</html>