<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">
<head>
<title>カテゴリ削除確認 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="admin category_delete_check">
		<h2 class="title">カテゴリ削除確認</h2>
		<p class="check_message">以下の内容を削除します。</p>
		<div class="user_info_form_area">
			<ul class="input_list">
				<li>
					<span class="input_title">カテゴリ</span>
					<span class="input_value" th:text="${category.name}"></span>
				</li>
				<li>
					<span class="input_title">説明</span>
					<span class="input_value" th:text="${category.description}"></span>
				</li>
			</ul>
			<form th:action="@{/category/delete/complete}" method="post" class="user_info_form">
				<input type="hidden" name="id" th:value="${category.id}" />
				<input type="submit" value="削除" class="delete" />
			</form>
			<form method="post" th:action="@{/category/detail/{id}(id=${category.id})}">
				<input type="hidden" name="id" th:value="${category.id}" />
				<input type="submit" value="戻る" class="back_button" />
			</form>
		</div>
</body>
</html>