<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">
<head>
<title>カテゴリ変更確認 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="admin category_update_check">
		<h2 class="title">カテゴリ変更確認</h2>
		<p class="check_message">以下の内容で変更します。</p>
		<div class="user_info_form_area">
			<ul class="input_list">
				<li>
					<span class="input_title">カテゴリ名</span>
					<span class="input_value" th:text="${categoryForm.name}"></span>
				</li>
				<li>
					<span class="input_title">説明</span>
					<span class="input_value" th:text="${categoryForm.description}"></span>
				</li>
			</ul>
			<form th:action="@{/category/update/complete}" method="post" class="user_info_form">
				<input type="hidden" name="id" th:value="${categoryForm.id}" />
				<input type="hidden" name="name" th:value="${categoryForm.name}" />
				<input type="hidden" name="description" th:value="${categoryForm.description}" />
				<input type="submit" value="登録" class="send_button" />
			</form>
			<form th:action="@{/category/update/input}" method="post">
				<input type="hidden" name="backFlg" value="true" />
				<input type="hidden" name="id" th:value="${categoryForm.id}" />
				<input type="hidden" name="name" th:value="${categoryForm.name}" />
				<input type="hidden" name="description" th:value="${categoryForm.description}" />
				<input type="submit" value="戻る" class="back_button" />
			</form>
		</div>
</body>
</html>