<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">
<head>
<title>商品変更入力 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="admin item_update_input">
		<h2 class="title">商品情報変更入力</h2>
		<p class="input_message">変更する商品情報を入力してください</p>
		<div class="user_info_form_area">
			<form th:action="@{/item/update/check}" enctype="multipart/form-data" method="post" th:object="${itemForm}">
				<ul th:if="${#fields.hasErrors('*')}"  th:class="input_list" >
  					<li th:each="err : ${#fields.errors('*')}" th:text="${err}" th:class="error_list" ></li>
				</ul>
				<ul class="input_list">
					<li>
						<label>
							<span class="input_title">商品名</span>
							<input type="text" name="name" th:value="${item.name}" />
						</label>
						<span class="error_message"></span>
					</li>
					<li>
						<label>
							<span class="input_title">価格</span>
							<input type="text" name="price" th:value="${item.price}" />
						</label>
						<span class="error_message"></span>
					</li>
					<li>
						<label>
							<span class="input_title">在庫数</span>
							<input type="text" name="stock" th:value="${item.stock}" />
						</label>
						<span class="error_message"></span>
					</li>
					<li>
						<label>
							<span class="input_title">カテゴリ</span>
							<select name="categoryId">
								<option th:each="category: ${categories}"
									th:value="${category.id}" th:selected="${category.id == item.categoryId}" th:text="${category.name}"></option>
							</select>
						</label>
						<span class="error_message"></span>
					</li>
					<li>
						<label>
							<span class="input_title">説明文</span>
							<textarea name="description" rows="6" th:text="${item.description}"></textarea>
						</label>
						<span class="error_message"></span>
					</li>
					<li>
						<label>
							<span class="input_title">商品画像</span>
							<input type="file" id="upload_file" name="imageFile" />
							<span th:unless="${#strings.isEmpty(item.image)}">
								<img th:src="@{/img/{image}(image=${item.image})}"></img>
							</span>
							<span th:if="${#strings.isEmpty(item.image)}">
								<img th:src="@{/img/common/no_image.jpg}"></img>
							</span>
						</label>
						<span class="error_message"></span>
					</li>
				</ul>
				<input type="hidden" name="backFlg" value="false" />
				<input type="hidden" name="id" th:value="${item.id}" />
				<input type="submit" value="確認" class="send_button" />
			</form>
			<form method="post" th:action="@{/item/detail/admin/{id}(id=${item.id})}">
				<input type="submit" value="戻る" class="back_button" />
			</form>
		</div>
</body>
</html>