<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">
<head>
<title>カテゴリ一覧 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body class="admin category_list">
	
		<h2 class="title">カテゴリ一覧</h2>
		<form  th:action="@{/category/regist/input}" class="sign_up_form">
			<input type="submit" value="カテゴリ新規登録" class="menu_button" />
		</form>
		<div th:if="${#lists.isEmpty(categories)}">
			<p th:text="#{categoryListAdmin.none}"></p>
		</div>
		<table class="list_table category_list" th:if="!${#lists.isEmpty(categories)}" >
			<tr>
				<th>カテゴリ名</th>
				<th>操作</th>
			</tr>
			<tr th:each="category: ${categories}">
				<td>
					<a th:href="@{/category/detail/{id}(id=${category.id})}" th:text="${category.name}"></a>
				</td>
				<td>
					<form th:action="@{/category/update/input}" method="post">
						<input type="hidden" name="id" th:value="${category.id}"  />
						<input type="submit" value="変更" />
					</form>
					<form th:action="@{/category/delete/check}" method="post">
						<input type="hidden" name="id" th:value="${category.id}" />
						<input type="submit" value="削除" class="delete" />
					</form>
				</td>
			</tr>
		</table>
</body>
</html>